<div class="app-navbar">
    <div class="navbar-Section">
        <mat-icon fontIcon="home"></mat-icon>
        <p>Inicio</p>
    </div>
    <div class="navbar-Section">
        <mat-icon>fitness_center</mat-icon>
        <p>Cursos</p>
    </div>
    <div class="navbar-Section">
        <mat-icon>person</mat-icon>
        <p>Cuenta</p>
    </div>
    <div class="navbar-Section">
        <mat-icon>manage_accounts</mat-icon>
        <p>Configuracion</p>
    </div>
    <div class="navbar-Section">
        <mat-icon>logout</mat-icon>
        <p>Salir</p>
    </div>
    
    
    
    
</div>